<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::div.container})}">

<head>
    <title>À propos</title>
</head>
<body>
<div class="container page-body">
    <h1>À propos de <strong>mtg-tournaments</strong></h1>
    <p>
        <strong>mtg-tournaments</strong> est un site vous permettant d'organiser vos tournois <a
            href="https://magic.wizards.com/">Magic: The Gathering</a>.
    </p>
    <p>
        C'est un projet open-source, sous licence GPL 2.0.
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Je souhaite contribuer au développement de mtg-tournaments</h2>
    <p>
        Toute aide est la bienvenue !<br/>
        Rejoignez-nous <a href="https://github.com/mtg-peasant/mtg-peasant-tournament">sur le projet GitHub</a>.
    </p>

</div>
</body>
</html>
