<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta http-equiv="content-language" content="fr"/>
    <meta name="description" lang="fr" content="Tournaments Organizer for Magic: The Gathering"/>
    <meta name="keywords" content="mtg, Magic: The Gathering, tournaments"/>

    <title th:replace="${title}">Layout Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mtg-tournaments.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<header id="header" th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">mtg tournaments</a>
            </div>
            <div class="" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--/* not logged: signin (with google) */-->
                    <li th:unless="${#auth.isAuthenticated(#httpServletRequest)}">
                        <a href="/signin" th:utext="#{menu.signin.html}">te connecter</a>
                    </li>
                    <!--/* logged: picture + name > logout button */-->
                    <li class="dropdown" th:if="${#auth.isAuthenticated(#httpServletRequest)}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:title="${#auth.fullName(#httpServletRequest)}">
                            <span class="glyphicon glyphicon-user" th:unless="${#auth.picture(#httpServletRequest)}"></span>
                            <img class="user-picture img-circle" th:if="${#auth.picture(#httpServletRequest)}" th:src="${#auth.picture(#httpServletRequest)}"/>
                            <span class="sr-only" th:text="${#auth.fullName(#httpServletRequest)}">user name</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout" th:utext="#{menu.signout.html}"><span class="glyphicon glyphicon-log-out"></span> se déconnecter</a></li>
                            <li><a href="/users/me" th:utext="#{menu.account.html}"><span class="glyphicon glyphicon-user"></span> profil</a></li>
                            <li><a href="/users/me/delete" th:utext="#{menu.delete_account.html}"><span class="glyphicon glyphicon-remove"></span> supprimer ton compte</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- page content -->
<div class="container" th:replace="${content}">Layout content</div>

<!-- footer -->
<footer id="footer" th:fragment="footer">
    <div class="container">
        <ul class="list-inline">
            <li><a href="/about" th:utext="#{footer.about.html}">à propos</a></li>
            <li><a href="/privacypolicy" th:utext="#{footer.privacypolicy.html}">confidentialité</a></li>
            <li><a href="/swagger-ui.html" th:utext="#{footer.api.html}">API</a></li>
            <li><a href="https://github.com/mtg-peasant/mtg-peasant-tournament" title="mtg-tournaments on GitHub">GitHub</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
