<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::div.container})}">
<head>
    <title th:text="#{login.title}">Se connecter</title>
</head>
<body>
<div class="container page-body">
    <h1 th:text="#{login.title}">Se connecter</h1>
    <p th:utext="#{login.tip.html}">
        Pour pouvoir utiliser <strong>mtg tournaments</strong>, tu dois d'abord te connecter.
    </p>
    <p>
        <a class="btn btn-primary btn-lg btn-google" href="/login/google" th:text="#{login.with_google.label}">avec Google</a>
    </p>
</div>
</body>
</html>
