<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::div.container})}">
<head>
    <title>Politique de confidentialité</title>
</head>
<body>
<div class="container page-body">
    <h1>Politique de confidentialité de <strong>mtg tournaments</strong></h1>
    <p>
        Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention
        particulière à la protection de la vie privée.<br/>
        C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous
        collectons.
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Collecte des renseignements personnels</h2>
    <p>
        Nous collectons les renseignements suivants :
    <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Adresse électronique</li>
        <li>Genre / Sexe</li>
    </ul>
    </p>

    <p>
        Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à
        l'interactivité établie entre vous et notre site Web.<br/>
        Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux
        pour réunir des informations vous concernant.
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Formulaires et interactivité:</h2>
    <p>
        Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :
    <ul>
        <li>Formulaire d'inscription au site Web</li>
        <li>Connection via les services tiers (Google)</li>
    </ul>
    </p>

    <p>
        Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    <ul>
        <li>Personnalisation du service</li>
        <li>Contact</li>
    </ul>
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Fichiers journaux et témoins </h2>
    <p>
        Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins
        (cookies). Il s'agit principalement des informations suivantes :
    <ul>
        <li>Pages visitées et requêtes</li>
        <li>Heure et jour de connexion</li>
    </ul>
    </p>

    <p>
        Le recours à de tels fichiers nous permet :
    <ul>
        <li>Amélioration du service et accueil personnalisé</li>
    </ul>
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Droit d'opposition et de retrait</h2>
    <p>
        Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
        Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs
        renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
    </p>
    <p>
        Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs
        renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
    </p>
    <p>
        Pour pouvoir exercer ces droits, vous pouvez :
    <ul>
        <li><a href="/account/delete">supprimer votre compte</a></li>
        <li>nous contacter <a href="mailto:mtg-tournaments.contact@gmail.com">email</a></li>
    </ul>
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Droit d'accès</h2>
    <p>
        Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes
        concernées désireuses de consulter, modifier, voire radier les informations les concernant.
    </p>

    <p>
        L'exercice de ce droit se fera via le site <strong>mtg-tournaments</strong>.
    </p>

    <!-- ===================================================== -->
    <hr/>
    <h2>Sécurité</h2>
    <p>
        Les renseignements personnels que nous collectons sont conservés
        dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité
        de vos informations.
    </p>
    <p>
        Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
    <ul>
        <li>Protocole SSL (Secure Sockets Layer)</li>
    </ul>
    </p>

    <p>
        Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations
        technologiques permettant d'assurer la confidentialité de vos transactions.
        Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part
        de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.
    </p>

</div>
</body>
</html>